{% extends 'myapp/base.html' %}
{% block addsong %}"active"{% endblock %}
{% block title %}Create a Song{% endblock %}
{% block body %}


    <h1> Create A new Song </h1>

    <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}

    {% include 'myapp/form-template.html' %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>

        </div>

    </form>

{% endblock %}